<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="menu">
        <ul>
          <li>
            <a href=""><img src="" alt="logo"/></a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-trophy"></i> Ranking</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-calendar"></i> Events calendar</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-info-circle"></i> About us</a>
          </li>
          <li>
            <a href="http://localhost:3000/login.html">Log In</a> |
            <a href="http://localhost:3000/signup.html">Sign up</a>
          </li>
        </ul>
      </nav>
      <section id="slider">
        <h1>hackathones</h1>
        
      </section>
    </header>

    <main>
      <section class="events">
        <h2>Events</h2>
        <section id="event">
          <div>imagen</div>
          <h3>Titulo Hackathone</h3>
          <p>November 8-10, 2019</p>
          <p>aquahacking.com</p>
          <p>hackathon@vancouver.ca</p>
          

          <article class="judges">
            <h3>A Coruña</h3>
            <p>We are excited to announce the Alexa Skills Challenge: In-Skill Purchasing with Devpost, an opportunity to invent the
            future of premium voice content with over $120k in prizes. Plus, challenge finalists will be invited to Amazon’s
            headquarters in Seattle for an exclusive one-day summit on monetization opportunities. In-Skill Purchasing (ISP) lets
            you make money from your Alexa skills by selling premium digital content to enrich your customer’s experience, including
            anything from hints in a trivia skill to enhanced features in a weather reporting skill.</p>
          
           

            <h3>Eligibility</h3>
            <p>How effective your algorithm will work for solve the problem. Submissions to Hackathon must include a video demonstration and written detailed description of the skill and the in-skill
            product(s), including the name of the premium content offerings and instructions for judges how to invoke and access the
            premium content.</p>

            <h3>Judges</h3>
            <p>A dynamic group</p>

            <h3>Themes</h3>
              <p>Gaming</p>
              <p>Voice Skills</p>

          </article>

          <aside>
            <a id="button-hackathon" href="">Register for this hackathon</a>
            <iframe
              src="http://free.timeanddate.com/countdown/i6zmsqbh/n681/cf12/cm0/cu4/ct0/cs1/ca0/co0/cr0/ss0/cac40c655/cpc000/pcfff/tcfff/fs100/szw576/szh243/iso2019-10-22T00:00:00"
              allowTransparency="true" frameborder="0" width="164" height="49"></iframe>
            <h3>15.000€ in prizes</h3>
            <p><strong>Global Skill Store Finalist</strong><br>
            • 10,000€<br>
            • Invitation to ISP Finalist Summit in London plus travel expenses paid<br>
            • Travel for up to 2 members of the team (see rules for details)</p>

            <p><strong>Bonus<br> - Best Premium Game Category experience</strong><br>
            • 5,000€</p>
          </aside>
        
        </section>
     
     
    </main>
    <footer>
      <nav class="services">
        <h3>Hackatones</h3>
        <h5>(c) 2019, Hackathones Inc.</h5>
        <ul>
          <li>
            <a href="http://localhost:3000/privacy.html">Privacy Policy</a>
          </li>
          <li>
            <a href="http://localhost:3000/terms.html">Terms of Service</a>
          </li>
        </ul>
      </nav>
      <nav class="social">
        <h3>Social</h3>
        <ul>
          <li>
            <a href="https://twitter.com/"
              ><i class="fa fa-twitter"></i> Twitter</a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa fa-linkedin"></i> Linkedin</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/"
              ><i class="fa fa-instagram"></i> Instagram</a
            >
          </li>
          <li>
            <a href="https://www.facebook.com/"
              ><i class="fa fa-facebook"></i> Facebook</a
            >
          </li>
        </ul>
      </nav>
      <section class="contact">
        <h3>Contact us</h3>
        <address>
          <a href="mailto: info@hackathons.com"
            ><i class="fa fa-envelope"></i> info@hackathons.com</a
          >
          <a href="/"><i class="fa fa-phone"></i> 9** *** ***</a>
        </address>
      </section>
    </footer>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
