<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="menu">
        <ul class="hidden">
          <li>
            <a href="index.html"><img src="" alt="logo"/></a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-trophy"></i> Ranking</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-calendar"></i> Events calendar</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-info-circle"></i> About us</a>
          </li>
          <li>
            <a href="views/login.html">Log In</a> |
            <a href="views/signup.html">Sign up</a>
          </li>
        </ul>
        <button id="menu-button">
          <i class="fa fa-bars fa-lg"></i>
        </button>
      </nav>
      <section id="slider">
        <h1>hackathones</h1>
        <button type="button">
          <a href="views/newevent.html"> Plan your hackaton</a>
        </button>
      </section>
    </header>

    <main>
      <section class="events">
        <h2>Events</h2>
        <section id="event">
          <div>imagen</div>
          <h3>METEOHACK</h3>
          <p>November 8-10, 2019</p>
          <p>aquahacking.com</p>
          <p>hackathon@vancouver.ca</p>
          <a id="button-event" href="">CHEK IT OUT</a>
        </section>
        <section id="event">
          <div>imagen</div>
          <h3>AquaHacking BC</h3>
          <p><i class="fa fa-calendar"></i> November 8-10, 2019</p>
          <p><i class="fa fa-globe"></i> aquahacking.com</p>
          <p><i class="fa fa-envelope"></i> hackathon@vancouver.ca</p>
          <a id="button-event" href="">CHEK IT OUT</a>
        </section>
        <section id="event">
          <div>imagen</div>
          <h3>Oxford Global Hackathon - Toronto</h3>
          <p>November 8-10, 2019</p>
          <p>aquahacking.com</p>
          <p>hackathon@vancouver.ca</p>
          <a id="button-event" href="">CHEK IT OUT</a>
        </section>
        <section id="event">
          <div>imagen</div>
          <h3>AquaHacking Challenge 2019</h3>
          <p>November 8-10, 2019</p>
          <p>aquahacking.com</p>
          <p>hackathon@vancouver.ca</p>
          <a id="button-event" href="">CHEK IT OUT</a>
        </section>
      </section>
      <section class="ranking-list">
        <h2>
          Latest Ranking
        </h2>
        <section id="ranking-1">
          <i class="fa fa-trophy fa-3x"></i>
          <h3>Titulo Hackathone</h3>
          <ul>
            <li><i class="fa fa-trophy fa-2x"></i> Hasan Arianna</li>
            <li><i class="fa fa-trophy fa-lg"></i> Áedán Idris</li>
            <li><i class="fa fa-trophy fa-sm"></i> Graciano Ewelina</li>
            <li>Sunita Seweryna</li>
            <li>Simon Usha</li>
            <li>Widukind Dianne</li>
          </ul>
        </section>
        <section id="ranking-2">
          <i class="fa fa-trophy fa-3x"></i>
          <h3>Titulo Hackathone</h3>
          <ul>
            <li><i class="fa fa-trophy fa-2x"></i> Kostis Milena</li>
            <li><i class="fa fa-trophy fa-lg"></i> Aimé Oddbjørn</li>
            <li><i class="fa fa-trophy fa-sm"></i> Floro Miriam</li>
            <li>Azriel Lakshmi</li>
            <li>Marmaduke Tullio</li>
            <li>Harmonia Chidubem</li>
          </ul>
        </section>
        <section id="ranking-3">
          <i class="fa fa-trophy fa-3x"></i>
          <h3>Titulo Hackathone</h3>
          <ul>
            <li><i class="fa fa-trophy fa-2x"></i> Albano Tye</li>
            <li><i class="fa fa-trophy fa-lg"></i> Fevziye Marjani</li>
            <li><i class="fa fa-trophy fa-sm"></i> Eoin Marcellette</li>
            <li>Natanael Fikriye</li>
            <li>Cajetan Napoléon</li>
            <li>Erik Lauritz</li>
          </ul>
        </section>
      </section>
      <section class="companies">
        <h2>Partners</h2>
      </section>
    </main>
    <footer>
      <div class="site-overlay-active hidden"></div>
      <nav class="services">
        <h3>Hackatones</h3>
        <h5>(c) 2019, Hackathones Inc.</h5>
        <ul>
          <li>
            <a href="views/privacy.html">Privacy Policy</a>
          </li>
          <li>
            <a href="views/terms.html">Terms of Service</a>
          </li>
        </ul>
      </nav>
      <nav class="social">
        <h3>Social</h3>
        <ul>
          <li>
            <a href="https://twitter.com/"
              ><i class="fa fa-twitter"></i> Twitter</a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa fa-linkedin"></i> Linkedin</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/"
              ><i class="fa fa-instagram"></i> Instagram</a
            >
          </li>
          <li>
            <a href="https://www.facebook.com/"
              ><i class="fa fa-facebook"></i> Facebook</a
            >
          </li>
        </ul>
      </nav>
      <section class="contact">
        <h3>Contact us</h3>
        <address>
          <a href="mailto: info@hackathons.com"
            ><i class="fa fa-envelope"></i> info@hackathons.com</a
          >
          <a href="/"><i class="fa fa-phone"></i> 9** *** ***</a>
        </address>
      </section>
    </footer>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
