<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Terms of service</title>
  </head>

  <body>
    <header>
      <nav class="menu">
        <ul class="hidden">
          <li>
            <a href="index.html"><img src="" alt="logo"/></a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-trophy"></i> Ranking</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-calendar"></i> Events calendar</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-info-circle"></i> About us</a>
          </li>
          <li>
            <a href="login.html">Log In</a> |
            <a href="signup.html">Sign up</a>
          </li>
        </ul>
        <button id="menu-button">
          <i class="fa fa-bars fa-lg"></i>
        </button>
      </nav>
    </header>

    <main>
      <article id="terms">
        <h1>Terms of Service</h1>
        <p>The Hackathones s Terms of Service for Hackathones s apply to people and organizations using the Hackathones s website,
        www.Hackathones s.es, (the “Site”) to create profiles, share software projects they have worked on, and create and
        participate in online and in-person Hackathones s where eligible participants can enter software that meets Hackathones s
        requirements (the “Service”). The Site is owned and operated by Hackathones s, S.L. (“Hackathones s”). Please read the terms and
        conditions below. They are important and govern your use of our Site.</p>
        <p>Hackathones s is a platform that enables certain users (“Makers”) to create profiles of their skills and work related to
        software development, and describe software projects they have worked on by submitting their software, updates,
        contributions or other materials on the Site. Other users (“Organize”) can post Hackathones  (“Hackathones s”) to motivate
        Makers to create new software, or enter existing software, that meets requirements stated on the Site.</p>

        <section id="agreement">
          <h2>Acceptance of agreement</h2>
          <p>By using and/or visiting our Site, you agree to the terms and conditions outlined in this Agreement and accompanying
          Privacy Policy (collectively the “Agreement”). If you do not agree to the Agreement, you should not use the Site.</p>
          <p>We may revise this Agreement at any time by posting an update to the Site. Your continued use of our Site after a posted
          change of this Agreement means that you agree to be bound by the changes, so please check the Agreement regularly for
          any changes.</p>
          <p>You affirm that you are at least the age of majority where you reside, or an emancipated minor, or possess legal
          parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations,
          affirmations, representations, and warranties set forth in this Agreement. You also affirm that you are able to abide by
          and comply with this Agreement.</p>
          <p>Our Site is not intended for children under thirteen. You affirm that you are at least thirteen years of age. If you are
          under thirteen years of age, then please do not use the Site. (Although Hackathones does not knowingly accept registrations
          from users under the age of thirteen, minors can still enter and win Hackathones  by having their parents or guardians
          register for Hackathones on their behalf.)</p>
        </section>

        <section id="username">
          <h2>Username and password</h2>
          <p>To access certain restricted sections of our Site you will be required to sign up for a Hackathones s account. You agree that
          the confidentiality of your username and password are your responsibility. You agree to accept responsibility for all
          activities that occur under your username and password and to notify us immediately if you believe there has been any
          unauthorized use of your account or other breach of security.</p>
          <p>We reserve the right to suspend or terminate any User account, and to reclaim or re-assign usernames without any
          liability to you. Usernames are displayed publicly on the Site. You agree not to create a username that is obscene or
          offensive to others, or impersonates any person or entity, or falsely states or otherwise misrepresents your affiliation
          with a person or entity. We reserve the right to reclaim usernames associated with accounts that are inactive for more
          than six months. We may also reclaim usernames on behalf of organizations or individuals, if they hold legal claim or
          trademark on those usernames.</p>

        </section>

        <section id="responsibility">
          <h2>Code of conduct and responsibility for user content</h2>
          <p>All Users agree to post or make available content (including any User Profile, Software, Submission, or Hackathones           Content) and otherwise use the Site in a manner that:
          
          Complies with all applicable laws and regulations including federal, state, or local laws;
          Provides accurate information about you and any organization with which you have a current or past affiliation;
          Accurately represents your work and gives credit to others when appropriate or required; and
          Respects others’ Intellectual Property Rights.</p>
          <p>All Users agree NOT to post or make available content (including any User Profile, Software, Submission or Hackathones           Content) or otherwise use the Site in a manner that:
          
          Misrepresents your identity, or your current or past work, education, skills, or qualifications;
          Misrepresents any entity or organization;
          Impersonates any person or entity, including, but not limited to a Hackathones employee, or falsely states or otherwise
          misrepresents your affiliation with any person or entity;
          Uses or attempts to use another User’s account;
          Discloses information about another person or entity, including your employer, that is confidential, or that you are not
          authorized to disclose;
          Is harmful, threatening, abusive, harassing, defamatory, derogatory, libelous, invasive of another’s privacy, harmful to
          minors in any way, or hateful toward an individual or group of individuals based on religion, gender, sexual
          orientation, race, ethnicity, age, or disability;
          Depicts hatred, is in bad taste, incites violence or is likely to incite violence, contains excessive vulgar or obscene
          language or excessive violence, contains pornography, obscenity or sexual activity;
          Violates any law or regulation, including federal, state, or local laws;
          Infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party, or violates any
          contractual or fiduciary obligation;
          Substantially duplicates Software or a Submission, or other User Content previously entered on the Site or in the same
          Hackathones (by you or another Maker);
          Constitutes or contains “affiliate marketing;” “link referral code;” “junk mail;” “spam;” “chain letters;” “pyramid
          schemes;” unsolicited commercial advertising; or any other form of excessive, repetitive, and/or unsolicited messages to
          other users;
          Contains malware such as software viruses, worms, or any other computer code, files or programs designed to interrupt,
          destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
          Discloses personal information about another person such as their email address, telephone number, address (street or
          box number), or social security number;
          Disrupts the normal flow of dialogue with an excessive amount of content to the Site, or otherwise negatively affects
          other users’ ability to use the Site;
          Constitutes excessive use of site features, inconsistent with the intent and purpose of the Site, and/or placing an
          undue burden on the Services, including but not limited to excessive following of other Users, excessive liking of User
          Content, and/or excessive registrations for Hackathones  or other events on the Site;
          Uses manual or automated software, devices, scripts robots, or other means or processes to access, “scrape,” “crawl” or
          “spider” the Site, User Content (including User Profiles and Team Pages), or any related data or information;
          Employs misleading email addresses, or forged headers or otherwise manipulated identifiers in order to disguise the
          origin of content transmitted through the Site;
          Disparages another person, Event, or Hackathones; or
          Contains any other content or constitutes any other action, which in the sole judgment of Hackathones or a Event, is
          inappropriate or inconsistent with the purpose of the Site.</p>
          <p>Without limiting the foregoing, you understand that all User Content posted on, transmitted through, or linked from the
          Site, is the sole responsibility of the person or entity from which such User Content originated. You understand that
          Hackathones s does not control, and is not responsible for User Content made available through the Site, and that by using the
          Site, you may be exposed to User Content that is offensive, indecent, inaccurate, misleading, or otherwise
          objectionable. Hackathones s makes no representation or warranty as to the accuracy, completeness or authenticity of the
          information contained in any User Content.</p>
          <p>Hackathones s does not and cannot review all User Content or other communications and materials posted to or created by Users
          accessing the Site, and is not in any manner responsible for the content of these communications and materials. You
          acknowledge that by providing you with the ability to view and distribute User Content and other communications and
          materials on the site, Hackathones is merely acting as a passive conduit for such distribution and is not undertaking any
          obligation or liability relating to any contents or activities on the Site. However, Hackathones s reserves the right to block
          or remove communications or materials that it determines to be in violation of the Code of Conduct.</p>
          <p>You are solely responsible for any User Content contributed by you. User Content will not be treated as confidential.
          Unless otherwise specified, or if an option does not exist on the Site to hide or restrict access to specific User
          Content, you should assume that such User Content will be displayed publicly. If the Site provides you with the option
          to do so, you are responsible for indicating what User Content is shared publicly or shared with Events. We reserve the
          right to edit or delete any User Content without notice, in whole or in part, at our sole discretion. See Section 8 for
          details on the Digital Millennium Copyright Act.</p>
          <p>You acknowledge that we shall have the right (but not the obligation) in our sole discretion to pre-screen, refuse, or
          move any Content that is submitted to the Site. You agree that you must evaluate, and bear all risks associated with,
          the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content.</p>


          </section>

        <section id="participation">
          <h2>Participation in a Hackathones </h2>
          <p>Participation in a Hackathones  on our Site, including entering Submissions, is governed by this Agreement and the Official
          Rules posted on the Hackathones Website. Official Rules are the responsibility of the Event. If there is any
          inconsistency between the terms of this Agreement and the Official Rules of a Hackathones , the Official Rules will
          prevail, but for that Hackathones  only.</p>
          <ul>
            <li>A. Hackathones Registration & Submission
            
            <p>You must first create a Hackathones s account and register on the Hackathones Website to be able to enter a Hackathones  You need
            to follow all instructions stated on the Site in order to register.</p>
            
            (i) Hackathones Submission Drafts & Modifications
            
            <p>Prior to the end of a Submission Period, you may save draft versions of your Submission on the Site to your portfolio
            before submitting the Software to the Hackathones for evaluation. Once the Submission Period has ended, you may not make
            any changes or alterations to your Submission, but you may continue to update the project in your portfolio.</p>
            
            <p>A Event may permit you to modify part of your Submission after the Submission Period for the purpose of removing
            material that potentially infringes a third party mark or right, discloses personally identifiable information, or is
            otherwise inappropriate. The modified Submission must remain substantively the same as the original Submission with the
            only modification being what the Event permits.</p>
            
            (ii) Team and Organization Representatives
            
            <p>If a team or organization is entering a Hackathones , they must appoint and authorize one individual (the “Representative”)
            to represent, act, and enter a Submission, on their behalf. The Representative must meet the eligibility requirements
            for the Hackathones  specified in the Official Rules.</p>
            
            <p>By entering a Submission on the Site on behalf of a team or organization, you represent and warrant that you are the
            Representative authorized to act on behalf of your team or organization.</p>
            
            <p>If there is a dispute over the identity of a Maker in a Hackathones  on the Site, the email address used to enter the
            Hackathones and the person or entity assigned to that email address will be used to determine the Maker. The Event and
           Hackathones are not responsible for resolving any dispute between individuals or entities over the identity of the Maker. In
            the event of such a dispute, they may disqualify the disputed Submission and/or suspend or withdraw a prize.</p>
            
            (iii) Responsibility for Hackathones Submissions
            
            <p>You are solely responsible for confirming that your Submission is complete and for making and storing copies or drafts
            of it. The Event is not responsible for confirming the accuracy or completeness of a Submission as received. The Event
            and Hackathones are not responsible for incomplete, late, misdirected, damaged, lost, illegible, or incomprehensible
            Submissions or for address or email address changes of the Makers or Representatives. Proof of sending or submitting
            will not be deemed to be proof of receipt by a Event or Hackathones s.</p>
            
            <p>If Hackathones s and/or a Event determines that your Submission has not been received, or has been erroneously deleted, lost,
            destroyed or corrupted, you may request the opportunity to resubmit your Submission. However, you must make such a
            request promptly after you know or should have known there was a problem. Your request will be handled at the sole
            discretion of the Event and/or Hackathones s.</p></li>

            <li>B. Determining Eligibility & Display of Submissions
            
            <p>The Event has the right to require additional information. They also have the right to access any software application
            that is part of your Submission, in person or via any other reasonable manner, to verify that the software application
            functions and operates as described in other parts of your Submission, or to verify your role in creating the software.
            Failure by a Maker to respond or provide the additional information or access may result in disqualification of the
            Submission by the Event.</p>
            
            <p>Submissions may be posted on the Hackathones s Website or elsewhere on the Site before or after being screened or tested by
            the Event for compliance with the Official Rules. Posting of a Submission to the Site or Hackathones Website does not
            mean that the Submission is eligible. A Submission may be disqualified after it has been publically displayed.</p></li>

            <li>C. Public Voting
            
            <p>Hackathones  on the Site may include public voting. Public voting for a Hackathones will take place during a voting period
            specified on the Hackathones Website. The Event has the right to extend the voting period at any time for any reason.</p>
            
            <p>If public voting is used to determine winners, those winners will be selected based on the highest number of verified
            votes received on the Site during the voting period. Verified vote counts will be determined by Hackathones and/or the
            Event. If there is a tie between two or more Submissions, the winner will be determined by the Event.</p>
            
            <p>Public voting is open to any person with a verified Hackathones account. Each person is limited to one vote per Submission
            and may only vote using one account. Makers may not directly or indirectly offer or pay any monetary or other form of
            consideration in exchange for a vote.</p>
            
            <p>You may not use any manual or automated vote process or methods, or multiple e-mail addresses, to circumvent the
            one-vote limit per person per Submission. Doing so will subject all of your votes to disqualification. The Event may
            also disqualify a Maker, if the Maker receives multiple or irregular votes from the same user or users, receives votes
            in a manner that indicates manual, automated or other vote manipulation, or attempts to compensate voters.</p>
            
            <p>If the voting process fails to operate properly or appears to be tampered with or tainted with errors, fraud or unfair
            practices, the Event has the right to determine any public voting prize winners by using non-suspect votes, or by any
            other means they deem appropriate. If no alternative means of determining a public voting winner prize is available or
            selected, the Event may terminate any prize related to public voting without designating a winner.</p>
            
            <p>The Event and Hackathones are not responsible for, and are not required to count any vote which, in their judgment, is
            incomplete, late, misdirected, damaged, unlawful or illicit. This includes votes secured in breach of the voting rules
            above, as well as those lost for technical reasons, or otherwise in violation of this Agreement or the Official Rules.</p></li>

            <li>D. Entry conditions
              <p>By entering a Hackathones  on the Hackathones s Website, you (and, if you are entering on behalf of a team or organization,
              each participating members) agree(s) to the following:</p>
              
              <p>(i) The relationship between you, the Maker, and the Event and Hackathones s, is not a confidential, fiduciary, or other
              special relationship.</p>
              
              <p>(ii) You will be bound by and comply with this Agreement and the Official Rules and the decisions of the Event,
              Hackathones s, and/or the Hackathones judges which are binding and final in all matters relating to the Hackathones </p>
            </li>

            <li>E. Publicity
              <p>By participating in a Hackathones on the Site you consent to the use of personal information about you, if you are a
              winner, by the Event, Hackathones s, and third parties acting on their behalf. Such personal information includes, but is not
              limited to, your name, likeness, photograph, voice, opinions, comments and hometown and country of residence. It may be
              used in any existing or newly created media, worldwide without further payment or consideration or right of review,
              unless prohibited by law. Authorized use includes advertising and promotional purposes. The duration of your consent is
              for a period of three years following the conclusion of the Hackathones . This consent applies, as applicable, to all
              members a Maker’s team or organization which participated in the winning Submission.</p>
            </li>

            <li>F. General conditions applicable to Hackathones s
              <p>Events and Hackathones s reserve the right, in their sole discretion, to cancel, suspend and/or modify a Hackathones , or any
              part of it, in the event of a technical failure, fraud, or any other factor or event that was not anticipated or is not
              within their control.</p>
              
              <p>Events and Hackathones s reserve the right in their sole discretion to disqualify any individual or Maker they find to be:
              
              actually, or presenting the appearance of, tampering with the entry process or the operation of a Hackathones 
              acting in violation of this Agreement or the Official Rules, or in a manner that is inappropriate, unsportsmanlike,
              and/or not in the best interests of the Hackathones  or
              violating any applicable law or regulation.</p>
              <p>Any attempt by any person to undermine the proper conduct of a Hackathones may be a violation of criminal and civil law.
              If a Event or Hackathones s suspects that such an attempt has been made or is threatened, they may take appropriate action,
              including but not limited to requiring a Maker to cooperate with an investigation and referral to criminal and civil law
              enforcement authorities.</p>
              
              <p>If there is any discrepancy or inconsistency between the terms and conditions of the Official Rules and disclosures or
              other statements contained in any Hackathones materials, including the Submission form, Hackathones Website, advertising
              (including television, print, radio or online ads), the terms and conditions of the Official Rules shall prevail.</p>
              
              <p>The terms and conditions of Official Rules may change at any time, including the rights or obligations of the Maker and
              the Event. The Event will post the terms and conditions of the amended Official Rules on the Hackathones Website.</p>
              
              <p>To the fullest extent permitted by law, any amendment will become effective at the time specified in the posting of the
              amended Official Rules or, if no time is specified, the time of posting.</p>
              
              <p>If at any time prior to a Hackathones deadline, a Maker or prospective Maker believes that any Official Rule is or may be
              unclear or ambiguous, they must submit a written request for clarification to the Event.</p>
              
              <p>A Event and/or Hackathones s failure to enforce any term of this Agreement or the Official Rules shall not constitute a
              waiver of that provision. If any provision of any Official Rules is or becomes illegal or unenforceable in any
              jurisdiction whose laws or regulations apply to you, the remainder of the Official Rules, including the rule affected,
              shall remain unaffected and valid, to the fullest extent permitted by law, The illegal or unenforceable provision shall
              be replaced by a valid and enforceable provision that comes closest and best reflects the Event’s intention in a legal
              and enforceable manner with respect to the invalid or unenforceable provision.</p>
            </li>

            <li>G.Hackathones s disputes.
              <p>By entering a Hackathones on the Site, you agree that, to the fullest extent permitted by law:</p>
              <ol>
              <li>any and all disputes, claims and causes of action arising out of or connected with the Hackathones  or any prizes
              awarded, other than those concerning the administration of the Hackathones or the determination of winners, shall be
              resolved individually, without resort to any form of class action;</li>
              
              <li>any and all disputes, claims and causes of action arising out of or connected with the Hackathones  or any prizes
              awarded, shall be resolved exclusively by the courts with jurisdiction at the Event’s location, indicated in the
              Official Rules, and you consent to the exclusive jurisdiction and venue of such courts; and</li>
              
              <li>under no circumstances will you be entitled to, and you hereby waive all rights to claim, any punitive, incidental
              and consequential damages and any and all rights to have damages multiplied or otherwise increased.
              
              Some jurisdictions do not allow the limitations or exclusion of liability for incidental or consequential damages, so
              the above may not apply to you.</li>
              </ol>
              <p>All issues and questions concerning the construction, validity, interpretation and enforceability of a Hackathones s
              Official Rules, or the rights and obligations of you, the Maker, or the Event in connection with the Hackathones  shall
              be governed by, and construed in accordance with, the laws of the country, province, state, and/or territory in which
              the Event is located (as indicated in the Official Rules), without giving effect to any choice of law or conflict of
              law rules (whether of the Event’s jurisdiction or any other jurisdiction), which would cause the application of the
              laws of any jurisdiction other than those of the Event’s jurisdiction.</p>
            </li>
          </ul>

        </section>
        
        <section id="posting">
          <h2>Create an Event</h2>
          <p>Hackathones s reserves the right to approve any Hackathones  Content before it is posted on the Site. We may refuse any User the
          right to post Hackathones Content, if we deem that the Hackathones Content is incomplete, misleading, inappropriate, or
          inconsistent with the purpose of the Site or Service.
          
          <p>Events agree that any Hackathones Content will be accurate and will not violate the Code of Conduct outlined above in
          Section 4. By posting a Hackathones on the Site, you represent, warrant, and agree that your Hackathones Content meets these
          requirements.</p>
          
          <p>Posting of a Hackathones on our Site does not guarantee the Event any exclusivity with respect to the subject matter, and
          all Hackathones Content will be made available to Users of the Site on a non-exclusive basis.</p>
          
          <p>By posting Hackathones Content on our Site and using the Service, Events agree to:
          
          Be fair and impartial towards other Users, which includes but is not limited to allowing members of any race, religion,
          or gender to participate in your Hackathones  Hackathones may allow Hackathones  on the platform that are exclusive to one or
          more specific races, religions, or genders if Hackathones deems the Hackathones to be in support of a positive effort such as
          from an underrepresented community, a single-gender school, or other at Hackathones's sole discretion;
          Include Official Rules that outline the terms and conditions of participation in the Hackathones 
          Adhere to such Official Rules and be consistent in their application; and
          Award any prizes promoted on the Site.</p>
          </section>

        <section id="rights">
          <h2>Intellectual property rights</h2>
          <p>The Site contains various information in the form of data, text, graphics, and other materials from Hackathones and our
          third party licensors (the  Hackathones Content”). You acknowledge that this Site and various elements contained therein are
          protected by Intellectual Property Rights, and that these worldwide rights are valid and protected in all forms, media,
          and technologies existing now and hereinafter developed. You also acknowledge that the Hackathones Content is and shall
          remain the property of Hackathones or its licensors. You agree to comply with all intellectual property laws and you shall
          not encumber any interest in, or assert any rights to, the Hackathones Content. You may not modify, transmit, participate in
          the sale or transfer of, or create derivative works based on any Hackathones Content, in whole or in part.</p>
          
          <p>The trademarks, service marks, trade names and logos (collectively, the “Trademarks”) used and displayed on our Site are
          registered and unregistered trademarks of ours or our licensors. All page headers, custom graphics, button icons, and
          scripts are service marks, trademarks and/or trade dress of Hackathones and may not be copied, imitated or used, in whole or
          in part, in connection with any product or service that is not authorized by us, in any manner that is likely to cause
          confusion among consumers, or in any manner that disparages or discredits us. The Trademarks used and displayed on our
          Site are and shall remain the sole property of us or their respective owners. Nothing in this Agreement shall be
          construed as granting, by implication, estoppel or otherwise, any license, ownership right, or right to use any
          Trademarks used or displayed on our Site. The misuse of the Trademarks displayed on our Site, or any other Hackathones
          Content on our Site, is strictly prohibited.</p>
          
          <p>All rights are reserved. Unauthorized copying or use of any Hackathones Content or Intellectual Property Rights without the
          express written consent of Hackathones is strictly prohibited.</p>

          <p>Hackathones will not have any ownership rights over your User Content. However, Hackathones needs the following licenses to
          operate the Site and perform and market the Service on your behalf, on behalf of our other Users, and on our own behalf.
          Except as provided below with respect to Team Page Content, Hackathones Content, Software, and Submissions, you hereby
          grant to us an irrevocable, perpetual, non-exclusive, transferable, royalty-free, fully paid, worldwide license (with
          the right to sublicense) to use, copy, transmit, reproduce, adapt, modify, publicly perform, publicly display, reformat,
          translate, excerpt (in whole or in part), create collective works and derivative works, and distribute your User Content
          for any purpose, commercial, advertising, or otherwise, in any media or distribution method (now known or later
          developed).</p>
          <p>Except as provided below with respect to Team Page Content, Hackathones Content, Software, and Submissions, you hereby
          grant to us an irrevocable, perpetual, non-exclusive, transferable, royalty-free, fully paid, worldwide license (with
          the right to sublicense) to use, copy, transmit, reproduce, adapt, modify, publicly perform, publicly display, reformat,
          translate, excerpt (in whole or in part), create collective works and derivative works, and distribute your User Content
          for any purpose, commercial, advertising, or otherwise, in any media or distribution method (now known or later
          developed).</p>
          <p>Events have and shall retain sole and exclusive title and ownership of all Hackathones Content and all Intellectual
          Property Rights relating thereto. By posting Hackathones Content on the Site, Events grant to Hackathones a non-exclusive,
          worldwide, royalty-free license to use, distribute, display and reproduce the Hackathones Content in order to perform the
          Service.</p>
          <p>Makers have and shall retain sole and exclusive title and ownership of all Software and Submissions, and all
          Intellectual Property Rights relating thereto, unless: (a) the Official Rules of a Hackathones state clearly that the
          Maker will be required to transfer property of the Submission and all Intellectual Property Rights relating thereto to
          the Event as a requirement of the Hackathones  AND (b) an award is paid or made by the Event of the Hackathones to such
          Maker.</p>
          
          <p>By entering Software or a Submission on our Site, you grant to Hackathones, and in the case of a Submission, the Event and
          any third parties acting on the Event’s behalf, a royalty-free, non-exclusive, worldwide perpetual license to display
          publicly and use for promotional purposes the Software or Submission, in perpetuity. This license includes posting or
          linking to Software or the Submission on this Site, the Event’s and partners’ websites and applications (in the case of
          a Submission), and display and promotion of the Software or Submission in any other media, worldwide.</p>
          
          <p>You represent and warrant that Hackathones, and where applicable, the Event and Hackathones partners, are free to use your
          Software or Submission in the manner described above, as provided or as modified by Hackathones, without obtaining
          permission or license from any third party and without any compensation to you.</p>
          
          <p>Your Software or Submission must: (a) be your (or your team or organization’s) original work product; (b) be solely
          owned by you, your team, or your organization with no other person or entity having any right or interest in it; and (c)
          not violate the intellectual property rights or other rights including but not limited to copyright, trademark, patent,
          contract, and/or privacy rights, of any other person or entity. By entering Software or a Submission to a Hackathones on
          the Site you represent, warrant, and agree that your Software or Submission meets these requirements.</p> 

          </section>

        <section id="law">
          <h2>Applcable law</h2>
          <p>This Agreement shall be governed by the internal substantive laws of the A Coruña City, without respect to its
          conflict of laws principles.</p>
          </section>

      </article>
    </main>

    <footer>
      <div class="site-overlay-active hidden"></div>
      <nav class="services">
        <h3>Hackatones</h3>
        <h5>(c) 2019, Hackathones Inc.</h5>
        <ul>
          <li>
            <a href="privacy.html">Privacy Policy</a>
          </li>
          <li>
            <a href="terms.html">Terms of Service</a>
          </li>
        </ul>
      </nav>
      <nav class="social">
        <h3>Social</h3>
        <ul>
          <li>
            <a href="https://twitter.com/"
              ><i class="fa fa-twitter"></i> Twitter</a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa fa-linkedin"></i> Linkedin</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/"
              ><i class="fa fa-instagram"></i> Instagram</a
            >
          </li>
          <li>
            <a href="https://www.facebook.com/"
              ><i class="fa fa-facebook"></i> Facebook</a
            >
          </li>
        </ul>
      </nav>
      <section class="contact">
        <h3>Contact us</h3>
        <address>
          <a href="mailto: info@hackathons.com"
            ><i class="fa fa-envelope"></i> info@hackathons.com</a
          >
          <a href="/"><i class="fa fa-phone"></i> 9** *** ***</a>
        </address>
      </section>
    </footer>

    <script type="module" src="/js/main.js"></script>
  </body>
</html>
