@import "styles.css";

p {
  margin: 1rem 0;
  text-align: left;
}
h2 {
  text-align: left;
}
main * {
  grid-template-columns: 1fr;
}
ol li {
  list-style: lower-roman;
  text-align: left;
  font-size: 0.8rem;
  margin-left: 3rem;
}
