* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*............GENERAL............*/

body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: #222831;
  color: #eeeeee;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  margin: 1rem;
}

h2 {
  grid-column: -1/1;
  margin: 2rem 0 1rem;
}

h3 {
  margin-top: 1rem;
}

p {
  margin: 1rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

li {
  list-style: none;
}

ol li {
  list-style: lower-roman;
  text-align: left;
  font-size: 0.8rem;
  margin-left: 3rem;
}

form {
  text-align: center;
  font-weight: bold;
  background-color: #393e46;
  width: 300px;
  border-radius: 10px;
  margin: auto;
  max-width: 1250px;
}
input {
  background-color: #222831;
  color: #eeeeee;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
  text-indent: 0.5rem;
  padding: 0.8rem;
  width: 100%;
}
fieldset {
  border: 0;
  margin: 1rem;
  text-align: left;
  grid-column: span 2;
}

/*........... MENU............*/
header .menu ul {
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header .menu ul li {
  background-color: #011329;
  padding: 1rem 0;
}

header .menu ul li a {
  padding: 1rem;
}
header .menu ul li a:hover {
  border-bottom: 3px solid #eeeeee;
  background-color: #00adb5;
}
header .menu ul li:last-child {
  grid-column: 5;
}

/*--------- Components ---------*/

/*-------------Slider---------*/

#section-slider {
  background: url(../img/BigFocusedCassowary.webp);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  display: flex;
  align-content: center;
}
#slider {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  margin: 0 auto;
}

#slider h1 {
  font-weight: bold;
  flex-basis: 100%;
  font-size: 6em;
  text-transform: uppercase;
  text-align: center;
  color: white !important;
}

/*-------Events List---------*/

#list-events-home {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.event {
  margin: 0 auto;
  background-color: #393e46;
  width: 90%;
  border-radius: 1%;
  padding: 1rem;
}
.image {
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
/*-------- Ranking List --------*/

#ranking-list-home {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  margin: 0 auto;
}
#ranking-list-home .fa-trophy {
  color: yellow;
}
#ranking-list-home .fa-lg {
  color: gray;
}
#ranking-list-home .fa-sm {
  color: brown;
}

/*......... HOME........... */

#main-home > * {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}
#prize {
  color: #de8441;
  font-size: 1.5rem;
  text-align: center;
}
#whatis {
  display: flex;
  width: 1300px;
  margin: 0 auto;
  align-items: center;
}
#img-whatis {
  border-radius: 0 15% 0 15%;
}
#explication {
  line-height: 1.6rem;
}
/*--------PRIVACY-----*/

section#privacy {
  grid-template-columns: 1fr;
}

/*--------ABOUT--------*/

section#about {
  grid-template-columns: 1fr;
}
/*---------PROFILE------------*/
.mainProfile {
  max-width: 1300px;
  margin: 0 auto;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*--------TERMS--------*/

section#terms {
  grid-template-columns: 1fr;
}

/*---------LOGIN SIGN IN-----------*/

#access,
#register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.errorMessage {
  font-size: 0.8rem;
  color: #d0373f;
}
/*---------NEW EVENT-----------*/
#create-event form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: initial;
}

#create-event form button {
  grid-column: span 2/4;
  margin-bottom: 1rem;
}

#create-event form textarea {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  grid-column: span 4;
  background-color: #222831;
}

#create-event form .description {
  grid-column: span 4;
}

#create-event form .location-event {
  grid-column: span 4;
}
/*-----------FOOTER -----------*/

footer {
  background: blue;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

footer > * {
  margin: 2rem;
  text-align: left;
}

footer li {
  margin: 1rem 0;
}

footer address a {
  display: block;
  margin: 1rem 0;
  text-align: left;
}

/*.............PAGE OF EVENTS..........*/

#main-page-of-events {
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: auto 1fr;
}

#main-page-of-events span {
  width: 300px;
}

.event-on-event-page {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 1rem;
}
.image-event-page {
  width: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1rem;
}
/*-----------Aside---------*/

.aside {
  width: 200px;
  margin: 1rem;
  position: fixed;
  top: 150px;
}

#search-aside {
  display: flex;
}

.radio {
  text-align: left;
  margin: 1rem 0;
}

.radio span {
  margin-left: 1rem;
}
/*.............PAGE OF RANKINGS..........*/

#main-page-of-rankings {
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.ranking {
  width: 300px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  background-color: #393e46;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 2%;
}
.ranking ul li {
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-left-color: coral;
  border-radius: 3px;
  background: linear-gradient(to right, coral 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.ranking ul li a {
  margin-right: 1rem;
}
.ranking ul li:hover {
  border: 2px solid coral;
  background-position: left bottom;
}

/*------BUTTONS---------*/

button {
  border: 0;
  color: white;
}
.button-white {
  padding: 0.25rem 3rem;
  font-size: 1.5rem;
  border: 3px solid #eeeeee;
  color: #eeeeee;
  border-radius: 3px;
}

.button-white:hover {
  background-color: #eeeeee;
  color: #00adb5;
  transition-duration: 0.5s;
}

.button-blue {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #00adb5;
  color: #00adb5;
  padding: 0.5rem 2rem;
  display: block;
  margin: 1rem;
  border-radius: 3px;
  margin: 0 auto;
}
.button-blue:hover {
  background: #00adb5;
  transition-duration: 0.5s;
  color: #eeeeee;
}

#menu-button {
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 4rem;
  right: 1.5rem;
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  color: #252525;
  z-index: 100;
  display: none;
}
.button-search {
  padding: 1rem;
}

/*-------Patantalla Negra----------*/

.site-overlay-active {
  opacity: 0.75;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  background: black;
  z-index: 10;
  display: none;
}

.hidden {
  visibility: visible;
}

@media only screen and (max-width: 1300px) {
  #main-home > * {
    grid-template-columns: 1fr 1fr;
    align-content: center;
    max-width: 800px;
  }

  #ranking-list-home {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #slider h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 640px) {
  #main-home > * {
    grid-template-columns: 1fr;
  }
  #slider h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  header .menu ul {
    display: inline-block;
    position: fixed;
    right: 10px;
    bottom: 9rem;
    z-index: 100;
    border-radius: 10px;
  }

  #menu-button {
    display: block;
  }

  #slider {
    align-content: space-between;
    max-height: 250px;
    background-size: auto;
  }

  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  footer > * {
    margin: 1rem;
  }

  footer > nav {
    margin-bottom: 0;
  }

  .hidden {
    visibility: hidden;
  }

  .site-overlay-active {
    display: block;
  }

  form {
    display: inline-block;
    margin: 0;
  }

  #create-event form button {
    width: 90%;
  }

  #menu-button {
    display: block;
  }

  #button-slider {
    width: 100%;
  }
}
