* {
  margin: 0;
  padding: 0;
}

/*............GENERAL............*/

body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: white;
  color: #474747;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  grid-column: -1/1;
  /* text-align: left; */
  margin: 0 1rem;
}

.image {
  width: 300px;
  height: 300px;
}

h1 {
  margin: 1rem;
}

h3 {
  margin-top: 1rem;
}

p {
  margin: 1rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

li {
  list-style: none;
  margin: 1rem;
}

ol li {
  list-style: lower-roman;
  text-align: left;
  font-size: 0.8rem;
  margin-left: 3rem;
}
.errorMessage {
  color: red;
  font-size: 0.7rem;
}
/*........... MENU............*/

header .menu ul {
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  background-color: blue;
}
header .menu ul li:last-child {
  grid-column: 5;
}

/*......... HOME........... */

#main-home > * {
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  max-width: 1250px;
}

/*--------PRIVACY-----*/

section#privacy {
  grid-template-columns: 1fr;
}

/*--------ABOUT--------*/

section#about {
  grid-template-columns: 1fr;
}
/*---------PROFILE------------*/
.mainProfile {
  max-width: 1300px;
  margin: 0 auto;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*--------TERMS--------*/

section#terms {
  grid-template-columns: 1fr;
}

/*---------LOGIN-----------*/

#access,
#register {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  text-align: center;
  font-weight: bold;
  background-color: #bcccfb;
  width: 300px;
  border-radius: 10px;
  margin: auto;
  max-width: 1250px;
}
#create-event form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: initial;
}

#create-event form button {
  grid-column: span 2/4;
  margin-bottom: 1rem;
}

#create-event form textarea {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  grid-column: span 4;
}

#create-event form .description {
  grid-column: span 4;
}

#create-event form .location-event {
  grid-column: span 4;
}

fieldset {
  border: 0;
  margin: 1rem;
  text-align: left;
  grid-column: span 2;
}

.auth > form input {
  padding: 0.25rem 0;
  width: 100%;
}

/*--------- Components ---------*/

/*-------------Slider---------*/

#section-slider {
  background-color: #bcccfb;
}
#slider {
  margin: 0 auto;
  background: url(../img/developer-web.gif) no-repeat center;
  background-size: cover;
  height: 550px;
  max-width: 750px;
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
}

#slider h1 {
  flex-basis: 100%;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem;
  color: #40c655 !important;
}

/*-------Events List---------*/

#list-events-home {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*------------Event --------*/

#event {
  display: grid;
  align-content: space-between;
  grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}
#event p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

/*-------- Ranking List --------*/

#ranking-list-home {
  grid-template-columns: 1fr 1fr 1fr;
}
#ranking-list-home .fa-trophy {
  color: yellow;
}
#ranking-list-home .fa-lg {
  color: gray;
}
#ranking-list-home .fa-sm {
  color: brown;
}

/*-----------FOOTER -----------*/

footer {
  background: blue;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

footer > * {
  margin: 2rem;
  text-align: left;
}

footer li {
  margin: 1rem 0;
}

footer address a {
  display: block;
  margin: 1rem 0;
  text-align: left;
}

/*.............PAGE OF EVENTS..........*/

#main-page-of-events {
  max-width: 1330px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
}
/*.............PAGE OF RANKINGS..........*/

#main-page-of-rankings {
  max-width: 1330px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.ranking-on-ranking-page {
  width: 300px;
  text-align: center;
  background-color: #40c655;
}
/*-----------Aside---------*/

.aside {
  width: 200px;
  margin: 1rem;
  position: fixed;
  top: 200px;
}

#search-aside {
  display: flex;
}

.radio {
  text-align: left;
  margin: 1rem 0;
}

.radio span {
  margin-left: 1rem;
}

/*List of Events Section*/
.list-of-events-event-page {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  max-width: 930px;
  margin: 1rem;
}

#main-page-of-events span {
  width: 300px;
}

.event-on-event-page {
  display: grid;
  grid-template-columns: auto 1fr;
}

/*------BUTTONS---------*/

button {
  border: 0;
  background: orange;
  color: white;
}
.button-orange {
  padding: 0.25rem 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#button-event {
  background: #40c655;
  padding: 0.5rem 2rem;
  display: block;
}

#menu-button {
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 4rem;
  right: 1.5rem;
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  color: #252525;
  z-index: 100;
  display: none;
}
.button-search {
  padding: 1rem;
}

/*-------Patantalla Negra----------*/

.site-overlay-active {
  opacity: 0.75;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  background: black;
  z-index: 10;
  display: none;
}

.hidden {
  visibility: visible;
}

@media only screen and (max-width: 1300px) {
  #main-home > * {
    grid-template-columns: 1fr 1fr;
    align-content: center;
    max-width: 800px;
  }

  #ranking-list-home {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #slider h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 640px) {
  #main-home > * {
    grid-template-columns: 1fr;
  }
  #slider h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  header .menu ul {
    display: inline-block;
    position: fixed;
    right: 10px;
    bottom: 9rem;
    z-index: 100;
    border-radius: 10px;
  }

  #menu-button {
    display: block;
  }

  #slider {
    align-content: space-between;
    max-height: 250px;
    background-size: auto;
  }

  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  footer > * {
    margin: 1rem;
  }

  footer > nav {
    margin-bottom: 0;
  }

  .hidden {
    visibility: hidden;
  }

  .site-overlay-active {
    display: block;
  }

  form {
    display: inline-block;
    margin: 0;
  }

  #create-event form button {
    width: 90%;
  }

  #menu-button {
    display: block;
  }

  #button-slider {
    width: 100%;
  }
}
