* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*............GENERAL............*/

body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: #222831;
  color: #eeeeee;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  margin: 1rem 0;
}

h2 {
  grid-column: -1/1;
  margin: 2rem 0 1rem;
}

h3 {
  margin-top: 1rem;
}

p {
  margin: 1rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}
select {
  display: block;
  background-color: transparent;
  padding: 0.8rem 2rem;
  border: 1px solid #00adb5;
  border-radius: 3px;
  color: #00adb5;
  text-transform: uppercase;
  font-weight: bold;
}
option {
  background-color: #393e46;
  color: #00adb5;
}

li {
  list-style: none;
}

ol li {
  list-style: lower-roman;
  text-align: left;
  font-size: 0.8rem;
  margin-left: 3rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

th,
td {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
form {
  text-align: center;
  font-weight: bold;
  background-color: #393e46;
  border-radius: 10px;
  margin: auto;
  max-width: 1250px;
}
input {
  background-color: #222831;
  color: #eeeeee;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-indent: 0.5rem;
  padding: 0.8rem;
  width: 100%;
}
form input {
  margin-top: 1rem;
}
fieldset {
  border: 0;
  text-align: left;
  margin: 1rem;
}
select {
  margin: 1rem auto;
}

/*--------- Components ---------*/
/*........... MENU............*/
header .menu ul {
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header .menu ul li {
  background-color: #011329;
  padding: 1rem 0;
}

header .menu ul li a {
  padding: 1rem;
}
header .menu ul li a .fa-trophy {
  color: #eeeeee;
}
header .menu ul li a:hover {
  border-bottom: 3px solid #eeeeee;
  background-color: #00adb5;
}
header .menu ul li:last-child {
  grid-column: 5;
}
/*-------------Slider---------*/

#section-slider {
  background: url(../img/BigFocusedCassowary.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 500px;
  display: flex;
  align-content: center;
}
#slider {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  margin: 0 auto;
}

#slider h1 {
  font-weight: bold;
  flex-basis: 100%;
  font-size: 6em;
  text-transform: uppercase;
  text-align: center;
  color: white !important;
}

/*-------Events List---------*/

#list-events-home {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.event {
  margin: 0 auto;
  background-color: #393e46;

  width: 90%;
  border-radius: 1%;
  padding: 1rem;
  max-width: 800px;
}
.image {
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
/*---------User Ranking----------*/
#section-user-ranking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
/*-------- Ranking List --------*/
.image-profile-small {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
#ranking-list-home {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  margin: 0 auto;
}
.fa-trophy {
  color: yellow;
}
.fa-lg {
  color: gray;
}
.fa-sm {
  color: brown;
}
/*-----------SECTION PARTNER----------------*/
.image-partner {
  height: 150px;
  width: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
#companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*-----------FOOTER -----------*/

footer {
  background: #222831;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}
.services a:hover,
.contact a:hover {
  color: #00adb5;
}
footer li {
  margin: 1rem;
  display: inline-block;
  align-items: center;
}

.social li {
  width: 50px;

  margin: 1rem;
  background-color: #393e46;
  border-radius: 50%;
  align-items: center;
}
.social li:hover {
  background-color: #00adb5;
}
.social li a i {
  padding: 1rem;
}

/*......... HOME........... */

#main-home > * {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}
#prize {
  color: #de8441;
  font-size: 1.5rem;
  text-align: center;
}
#whatis {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
}
#img-whatis {
  border-radius: 0 15% 0 15%;
}
#explication {
  line-height: 1.6rem;

  margin: 0 auto;
}
/*--------PRIVACY-----*/

section#privacy {
  grid-template-columns: 1fr;
}

/*--------ABOUT--------*/

section#about {
  grid-template-columns: 1fr;
}
/*---------PROFILE------------*/
.mainProfile {
  max-width: 1300px;
  margin: 0 auto;
}
.profile {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#user-data {
  text-align: center;
}
#user-data div p {
  text-align: center;
}
#user-data h2 {
  font-size: 3rem;
  color: coral;
}
#user-data h1 {
  text-transform: uppercase;
}
#user-data h3 {
  text-transform: capitalize;
}
#ranking-user ul li {
  margin: 1rem;

  text-transform: uppercase;
}
/*----------------------------------------------------------------------------------------*/
.image-profile {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 50%;
}
/*--------TERMS--------*/

section#terms {
  grid-template-columns: 1fr;
}

/*---------LOGIN SIGN IN-----------*/

#access,
#register,
#not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.errorMessage {
  font-size: 0.8rem;
  color: #d0373f;
}
.inputfile {
  display: none;
}

.inputfile + label {
  cursor: pointer;
}

.row-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*---------NEW EVENT-----------*/
#create-event form {
  margin-top: 50px;
}

#create-event form button {
  grid-column: span 2/4;
  margin-bottom: 1rem;
  width: 90%;
  font-size: 1rem;
  display: initial;
}

#create-event form textarea {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  grid-column: span 4;
  background-color: #222831;
}

#create-event form .description {
  grid-column: span 4;
}

#create-event form .location-event {
  grid-column: span 4;
}
#create-event form fieldset {
  grid-column: span 2;
}
.cke_top {
  background-color: #222831;
}
/*.............PAGE OF EVENTS DETAILS..........*/

#main-event-detail {
  margin-top: 50px;
}

#description {
  grid-column: -1/1;
}
/*.............PAGE OF EVENTS..........*/

#main-page-of-events {
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: auto 1fr;
}

#main-page-of-events span {
  width: 300px;
}

.event-on-event-page {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 1rem;
}
.image-event-page {
  width: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

/*-------------------------RATING------------------*/
.rating {
  transform: translate(-43%) rotateY(180deg);
  display: flex;
}
.rating input {
  display: none;
}
.rating label {
  width: 50px;
}
.rating label:before {
  content: "\f005";
  font-family: "Font Awesome 5 Pro";
  font-size: 2rem;
  color: #101010;
}
.rating label:after {
  content: "\f005";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  position: absolute;
  display: block;
  font-size: 2rem;
  color: coral;

  top: 0;
  opacity: 0;
  transition: 0.5s;
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
  opacity: 1;
}
/*-----------Aside---------*/

.aside {
  width: 200px;
  margin: 1rem;
  position: fixed;
  top: 150px;
}

#search-aside {
  display: flex;
}
#section-radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.radio {
  margin: 1rem auto 0;
}
.radio input {
  display: none;
}
.radio input:checked + label {
  background-color: #eeeeee;
}
.radio label {
  border: 1px solid rgb(255, 127, 80);
  border-radius: 50%;
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio label:hover {
  background-color: #eeeeee;
  transition: 0.5s;
}
.radio label .fab {
  color: coral;
  font-size: 2rem;
}
/*.............PAGE OF RANKINGS..........*/
#main-ranking-page {
  margin: 50px auto 0;
  text-align: center;
}
#list-page-of-rankings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.ranking {
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  background-color: #393e46;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 2%;
}
#ranking-home ul li {
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-left-color: coral;
  border-radius: 3px;
  background: linear-gradient(to right, coral 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
}
#ranking-home ul li div {
  padding: 1rem;
  text-transform: capitalize;
}
#ranking-home ul li:hover {
  border: 2px solid coral;
  background-position: left bottom;
}

/*------BUTTONS---------*/

button {
  border: 0;
  color: white;
}
.button-white {
  padding: 0.25rem 3rem;
  font-size: 1.5rem;
  border: 3px solid #eeeeee;
  color: #eeeeee;
  border-radius: 3px;
}

.button-white:hover {
  background-color: #eeeeee;
  color: #00adb5;
  transition-duration: 0.5s;
}

.button-blue {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #00adb5;
  color: #00adb5;
  padding: 0.5rem 2rem;
  display: block;
  margin: 1rem;
  border-radius: 3px;
  margin: 0 auto;
}
.button-blue:hover {
  background: #00adb5;
  transition-duration: 0.5s;
  color: #eeeeee;
}

#menu-button {
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 4rem;
  right: 1.5rem;
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  color: #252525;
  z-index: 100;
  display: none;
}
.button-search {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #00adb5;
  color: #00adb5;
}
.button-search:hover {
  background-color: #00adb5;
  color: #eeeeee;
  transition-duration: 0.5s;
  box-shadow: 0 10px 45px rgba(0, 173, 181, 0.2);
}

/*-------Patantalla Negra----------*/

.site-overlay-active {
  opacity: 0.75;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  background: black;
  z-index: 10;
  display: none;
}

.hidden {
  visibility: visible;
}

@media only screen and (max-width: 1300px) {
  #main-home > * {
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  .image {
    height: 450px;
  }

  #whatis {
    display: block;
  }
  #explication {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  #ranking-list-home {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 640px) {
  p {
    text-align: center;
  }
  #slider h1 {
    font-size: 2rem;
  }
  .button-white {
    font-size: initial;
  }
  #main-home > * {
    grid-template-columns: 1fr;
  }

  #companies {
    grid-template-columns: 1fr;
  }
  header .menu ul {
    display: inline-block;
    position: fixed;
    right: 10px;
    bottom: 9rem;
    z-index: 100;
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
  }

  #menu-button {
    display: block;
  }

  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hidden {
    visibility: hidden;
  }

  .site-overlay-active {
    display: block;
  }

  form {
    display: inline-block;
    margin: 0;
  }

  #menu-button {
    display: block;
  }
  #list-page-of-rankings {
    grid-template-columns: 1fr;
  }
  #main-ranking-page {
    margin: 0 auto;
  }
  #main-page-of-events {
    grid-template-columns: 1fr;
  }
  .event-on-event-page {
    grid-template-columns: 1fr;
    background-color: #393e46;
    padding: 1rem;
    border-radius: 1%;
    text-align: center;
  }
  .image-event-page {
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }
  .image {
    height: 200px;
  }
  .aside {
    display: none;
  }
  .col-3 {
    grid-template-columns: 1fr;
  }
  .col-4 {
    display: block;
  }
  .profile {
    grid-template-columns: 1fr;
  }
  #section-user-ranking {
    grid-template-columns: 1fr;
  }
}
